In [1]:
import pandas as pd
storm = pd.read_parquet('../data/storm_feature_selected.parquet')

c:\Users\Dell\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
storm.head(-1)

,start_datetime_eastern,end_datetime_eastern,duration_hours,STATE,STATE_FIPS,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,WFO,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE_IMPUTED,MAGNITUDE_TYPE_IMPUTED
0,2014-02-18 10:00:00,2014-02-18 20:00:00,10.000000,NEW HAMPSHIRE,33,Heavy Snow,Z,12,EASTERN HILLSBOROUGH,BOX,0,0,0,0,0.0,0.0,Trained Spotter,51.534744,EG
1,2014-03-30 08:31:00,2014-03-30 09:31:00,1.000000,MASSACHUSETTS,25,Flood,C,17,MIDDLESEX,BOX,0,0,0,0,35000.0,0.0,Amateur Radio,2.397500,EG
2,2014-04-27 22:06:00,2014-04-27 22:06:00,0.000000,MISSOURI,29,Hail,C,67,DOUGLAS,SGF,0,0,0,0,0.0,0.0,Trained Spotter,0.880000,EG
3,2014-04-27 22:03:00,2014-04-27 22:03:00,0.000000,MISSOURI,29,Thunderstorm Wind,C,67,DOUGLAS,SGF,0,0,0,0,10000.0,0.0,Emergency Manager,61.000000,EG
4,2014-02-15 10:00:00,2014-02-15 18:00:00,8.000000,WASHINGTON,53,High Wind,Z,20,SOUTHWEST INTERIOR,PQR,0,0,0,0,0.0,0.0,Official NWS Observations,75.000000,EG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691428,2024-05-09 11:53:00,2024-05-09 17:53:00,6.000000,TEXAS,48,Excessive Heat,Z,253,SOUTHERN HIDALGO COUNTY,BRO,0,0,0,0,0.0,0.0,ASOS,1.417500,MS
691429,2024-05-26 11:48:00,2024-05-26 11:48:00,0.000000,KENTUCKY,21,Thunderstorm Wind,C,21,BOYLE,LMK,0,0,0,0,0.0,0.0,Trained Spotter,52.000000,EG
691430,2024-05-22 18:09:00,2024-05-22 18:09:00,0.000000,INDIANA,18,Thunderstorm Wind,C,143,SCOTT,LMK,0,0,0,0,0.0,0.0,911 Call Center,50.000000,EG
691431,2024-05-22 17:57:00,2024-05-22 17:57:00,0.000000,INDIANA,18,Thunderstorm Wind,C,123,PERRY,LMK,0,0,0,0,0.0,0.0,911 Call Center,50.000000,EG
691432,2024-06-23 17:45:00,2024-06-23 17:50:00,0.083333,NEW HAMPSHIRE,33,Hail,C,15,ROCKINGHAM,GYX,0,0,0,0,0.0,0.0,Amateur Radio,1.750000,EG

In [ ]:
storm_2020_2022 = storm[storm['start_datetime_eastern'].dt.year.isin([2020, 2021, 2022])]

print(f"Shape of filtered dataframe: {storm_2020_2022.shape}")

storm_2020_2022.head()

Shape of filtered dataframe: (192858, 19)

,start_datetime_eastern,end_datetime_eastern,duration_hours,STATE,STATE_FIPS,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,WFO,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE_IMPUTED,MAGNITUDE_TYPE_IMPUTED
360974,2020-07-22 15:16:00,2020-07-22 15:16:00,0.0,FLORIDA,12,Thunderstorm Wind,C,65,JEFFERSON,TAE,0,0,0,0,3000.0,0.0,Law Enforcement,50.0,EG
360975,2020-07-22 14:09:00,2020-07-22 14:09:00,0.0,FLORIDA,12,Thunderstorm Wind,C,67,LAFAYETTE,TAE,0,0,0,0,0.0,0.0,Law Enforcement,50.0,EG
360976,2020-07-22 15:26:00,2020-07-22 15:26:00,0.0,FLORIDA,12,Thunderstorm Wind,C,65,JEFFERSON,TAE,0,0,0,0,3000.0,0.0,Law Enforcement,50.0,EG
360977,2020-07-02 19:34:00,2020-07-02 19:34:00,0.0,KANSAS,20,Thunderstorm Wind,C,167,RUSSELL,ICT,0,0,0,0,0.0,0.0,ASOS,55.0,MG
360978,2020-07-22 14:35:00,2020-07-22 14:35:00,0.0,FLORIDA,12,Thunderstorm Wind,C,123,TAYLOR,TAE,0,0,0,0,0.0,0.0,Law Enforcement,50.0,EG

In [8]:
storm_2020_2022.to_parquet('../data/storm_2020_2022.parquet')

In [1]:
import dask.dataframe as dd

eaglei = dd.read_csv('../data/cleaned_data2.csv')
eaglei.head(20)

c:\Users\Dell\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

    Year       county       state  customers    run_date  run_time
0   2014        Coosa     Alabama       12.0  2014-11-01  04:00:00
1   2014       Elmore     Alabama        7.0  2014-11-01  04:00:00
2   2014         Pike     Alabama        1.0  2014-11-01  04:00:00
3   2014    Talladega     Alabama       31.0  2014-11-01  04:00:00
4   2014       Navajo     Arizona        1.0  2014-11-01  04:00:00
5   2014        Boone    Arkansas        3.0  2014-11-01  04:00:00
6   2014      Pulaski    Arkansas        1.0  2014-11-01  04:00:00
7   2014         Kern  California       30.0  2014-11-01  04:00:00
8   2014  Los Angeles  California     1555.0  2014-11-01  04:00:00
9   2014    Riverside  California        2.0  2014-11-01  04:00:00
10  2014         Yolo  California        1.0  2014-11-01  04:00:00
11  2014        Adams    Colorado        1.0  2014-11-01  04:00:00
12  2014    Jefferson    Colorado       19.0  2014-11-01  04:00:00
13  2014       Pitkin    Colorado        1.0  2014-11-01  04:00:00
14  2014      Broward     Florida       17.0  2014-11-01  04:00:00
15  2014      Collier     Florida       14.0  2014-11-01  04:00:00
16  2014         Lake     Florida        1.0  2014-11-01  04:00:00
17  2014          Lee     Florida        1.0  2014-11-01  04:00:00
18  2014       Martin     Florida       12.0  2014-11-01  04:00:00
19  2014   Miami-Dade     Florida       72.0  2014-11-01  04:00:00

In [3]:
len(eaglei)

191133068

In [2]:
# Filter eaglei for years 2020, 2021, 2022
eaglei_filtered = eaglei[eaglei['Year'].isin([2020, 2021, 2022])]

# Compute the result (lazy evaluation)
eaglei_2020_2022 = eaglei_filtered.compute()

# Print the shape to verify the filtering
print(f"Shape of filtered eaglei dataframe: {eaglei_2020_2022.shape}")

# Display the first few rows
eaglei_2020_2022.head()

Shape of filtered eaglei dataframe: (76168084, 6)

        Year     county    state  customers    run_date  run_time
818645  2020    Baldwin  Alabama        0.0  2020-01-01  00:00:00
818646  2020     Dallas  Alabama        4.0  2020-01-01  00:00:00
818647  2020     Etowah  Alabama        4.0  2020-01-01  00:00:00
818648  2020  Jefferson  Alabama        4.0  2020-01-01  00:00:00
818649  2020     Mobile  Alabama        4.0  2020-01-01  00:00:00

In [5]:
#save eaglei_2020_2022 to parquet
eaglei_2020_2022.to_parquet('../data/eaglei_2020_2022.parquet')

In [6]:
# Check unique years in eaglei_2020_2022
unique_years = eaglei_2020_2022['Year'].unique()
year_counts = eaglei_2020_2022['Year'].value_counts().sort_index()

print("Unique years in the filtered dataset:")
print(unique_years)
print("\nCount of records per year:")
print(year_counts)

Unique years in the filtered dataset:
[2020 2021 2022]

Count of records per year:
Year
2020    25545517
2021    24826102
2022    25796465
Name: count, dtype: int64

In [7]:
len(eaglei_2020_2022)

76168084

In [3]:
eaglei_grouped = eaglei_2020_2022.groupby(['state', 'run_date', 'run_time'])['customers'].sum().reset_index()

In [5]:
eaglei_grouped.head()

     state    run_date  run_time  customers
0  Alabama  2020-01-01  00:00:00       36.0
1  Alabama  2020-01-01  00:15:00       30.0
2  Alabama  2020-01-01  00:30:00       28.0
3  Alabama  2020-01-01  00:45:00       39.0
4  Alabama  2020-01-01  01:00:00       34.0

In [6]:
import pandas as pd

In [7]:
# Convert run_time to proper time format if needed
if isinstance(eaglei_grouped['run_time'].iloc[0], str):
    # Combine run_date and run_time into a single datetime column
    eaglei_grouped['datetime'] = pd.to_datetime(
        eaglei_grouped['run_date'].astype(str) + ' ' + 
        eaglei_grouped['run_time'].astype(str)
    )
else:
    # If run_time is already in a time format
    eaglei_grouped['datetime'] = pd.to_datetime(
        eaglei_grouped['run_date'].dt.strftime('%Y-%m-%d') + ' ' + 
        eaglei_grouped['run_time']
    )

# Display the result to verify
print("DataFrame with new datetime column:")
eaglei_grouped.head()

DataFrame with new datetime column:

     state    run_date  run_time  customers            datetime
0  Alabama  2020-01-01  00:00:00       36.0 2020-01-01 00:00:00
1  Alabama  2020-01-01  00:15:00       30.0 2020-01-01 00:15:00
2  Alabama  2020-01-01  00:30:00       28.0 2020-01-01 00:30:00
3  Alabama  2020-01-01  00:45:00       39.0 2020-01-01 00:45:00
4  Alabama  2020-01-01  01:00:00       34.0 2020-01-01 01:00:00

In [8]:
# Drop the original run_date and run_time columns since we have datetime column
eaglei_grouped = eaglei_grouped.drop(columns=['run_time', 'run_date'])

eaglei_grouped.head(2)

     state  customers            datetime
0  Alabama       36.0 2020-01-01 00:00:00
1  Alabama       30.0 2020-01-01 00:15:00

In [9]:
# Save the eaglei_grouped DataFrame to parquet
eaglei_grouped.to_parquet('../data/eaglei_grouped_2020_2022.parquet')